.container{
    background-color: blue;
    height: 20vw;
    
}
.item{
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px
    
}
p{
    font-size: 30px;
}